.input {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 88%);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(0, 0%, 98%);
  transition: border-color 0.25s;
  width: 100%;
}
input:hover {
  border-color: hsl(209, 100%, 70%);
}
input:focus,
input:focus-visible {
  outline: 4px auto hsl(209, 100%, 70%);
}
